.vscode/**
.vscode-test/**
.idea/
typings/**
out/test/**
test/**
src/**
!src/web/**
**/*.map
.gitignore
tsconfig.json
pull_request_template.md
issue_template.md
package-lock.json
pnpm-lock.yaml
node_modules/**
scripts/**
webpack.config.js
.eslintrc.json
.gitattributes
.github/**
docs/**
examples/**
*.vsix
vsix/**
!dist/**
!resources/**
!grammar/**
!README.md
!CHANGELOG.md
!LICENSE